<ion-header>
  <ion-toolbar>
    <ion-title>{{ content?.title || 'Prevention' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Show loading spinner while the content is being fetched -->
  <ng-container *ngIf="content; else loading">
    <div>
      <h2>{{ content.title }}</h2>
      <p>{{ content.description }}</p>

      <!-- Display links if they exist -->
      <div *ngIf="content.links && content.links.length > 0">
        <a *ngFor="let link of content.links" [href]="link" (click)="trackClick($event, content.id)">
          {{ link }}
        </a>
      </div>

      <!-- If no links, show a message -->
      <div *ngIf="!content.links || content.links.length === 0">
        <p>No links available.</p>
      </div>
    </div>
  </ng-container>

  <!-- Loading Spinner Template -->
  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>