<ion-header>
  <ion-toolbar>
    <ion-title>Testing Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="content">
    <h2>{{ content.title }}</h2> <!-- Assuming content has a title -->
    <p>{{ content.description }}</p> <!-- Assuming content has a description -->
    <!-- Loop through the links and display each separately -->
    <div *ngIf="content.links && content.links.length > 0">
        <div *ngFor="let link of content.links">
          <a [href]="link" target="_blank" rel="noopener noreferrer" (click)="onLinkClick()">
            {{ link }}
          </a>
        </div>
    </div>
  </div>
  <div *ngIf="!content">
    <ion-spinner name="dots"></ion-spinner> 
  </div>
</ion-content>