.search-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .search-input {
    width: 40%;

    color: black;
    padding: 12px 40px 12px 16px; /* Adding space for the icon */
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  .search-input:focus {
    border-color: #007bff;
    background-color: #fff;
  }
  
  .world-map-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #007bff;
  }
  