ion-button [color='dark']{
  text-transform: initial;
}

ion-content{
    --background: var(--ion-color-sky-blue);
    background-color: skyblue;
}
ion-card{
    width: 70%;
}
.forgot-password {
  text-align: center;
  color: #3880ff;
  cursor: pointer;
  margin-top: 10px;
}
.forgot-password:hover {
  text-decoration: underline;
}
